<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web học tiếng Nhật - HQH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

    <style>
        .affix {
            top: 0;
            width: 100%;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
        
        .affix-top {
            position: static;
            top: -35px;
        }
        
        .carousel-inner img {
            width: 50%;
            /* Set width to 100% */
            margin: auto;
        }
        
        .carousel-caption h3 {
            color: #FFF
        }
        
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
                /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        }
        /* Add a dark background color with a little bit see-through */
        
        .navbar {
            margin-bottom: 0;
            background-color: #FFBDBD;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }
        /* Add a gray color to all navbar links */
        
        .navbar li a,
        .navbar .navbar-brand {
            color: #000 !important;
        }
        /* On hover, the links will turn white */
        
        .navbar-nav li a:hover {
            color: #fff !important;
        }
        /* The active link */
        
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }
        /* Remove border color from the collapsible button */
        
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }
        /* Dropdown */
        
        .open .dropdown-toggle {
            color: #fff;
            background-color: #FF7D7D !important;
        }
        /* Dropdown links */
        
        .dropdown-menu li a {
            color: #000 !important;
        }
        /* On hover, the dropdown links will turn red */
        
        .dropdown-menu li a:hover {
            background-color: #FF8484 !important;
        }
        
        .list {
            background: #f7d5d5;
            padding-top: 120px;
        }
        
        .list .content {
            position: relative;
            padding-right: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: row;
        }
        
        .list .content ul {
            list-style: none;
            width: 100%;
        }
        
        .list .content ul li {
            height: 50px;
            background: #95a4e5;
            padding: 20px;
            border-radius: 10px;
            margin: 5px;
        }
        
        .list .content ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
        
        .list .content ul li:hover {
            background: cornsilk;
        }
        
        .list .content ul .a {
            background: #bedcf7;
        }
        
        .list .title {
            width: 20%;
            height: 10%;
            background: #79a6e2;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 180px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-radius: 10px;
        }
        
        .list .title h2 {
            font-style: italic;
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
        
        .list .content .imgBx {
            width: 130%;
            position: relative;
            height: 400px;
            margin-top: 10px;
        }
        
        .list .content .imgBx img {
            width: 100%;
            height: 100%;
            margin-left: 20px;
            padding-bottom: 10px;
        }
    </style>

</head>

<body>



    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="5">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:3000/trangchu">TRANG CHỦ</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/cackhoahoc">CÁC KHÓA HỌC
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3000/cackhoahoc/N5">N5</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N4">N4</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N3">N3</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N2">N2</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N1">N1</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/bangchucai">BẢNG CHỮ CÁI
            <span class="caret"></span>
          </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3000/bangchucai/hiragana">Hiragana</a></li>
                            <li><a href="http://localhost:3000/bangchucai/katakana">Katakana</a></li>
                        </ul>
                    </li>
                    <li><a href="#tailieu">TÀI LIỆU</a></li>
                    <li class="dropdown">

                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="list">
        <div class="title">
            <h2>Cac bai hoc N5</h2>
        </div>
        <div class="content">
            <ul>
                <li class="a"><a href="http://localhost:3000/cackhoahoc/N5/tu_vung/Bai1">Bài 1</a></li>
                <li><a href="http://localhost:3000/cackhoahoc/N5/tu_vung/Bai2">Bài 2</a></li>
                <li class="a"><a href="http://localhost:3000/cackhoahoc/N5/tu_vung/Bai3">Bài 3</a></li>
                <li><a href="http://localhost:3000/cackhoahoc/N5/tu_vung/Bai4">Bài 4</a></li>
                <li class="a"><a href="#">Bài 5</a></li>
                <li><a href="#">Bài 6</a></li>
                <li class="a"><a href="#">Bài 7</a></li>
                <li><a href="#">Bài 8</a></li>

            </ul>
            <div class="imgBx"><img src="/study1.jpg"></div>
        </div>
    </section>

</body>

</html>