<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web học tiếng Nhật - HQH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

    <style>
        .affix {
            top: 0;
            width: 100%;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
        
        .affix-top {
            position: static;
            top: -35px;
        }
        
        .carousel-inner img {
            width: 50%;
            /* Set width to 100% */
            margin: auto;
        }
        
        .carousel-caption h3 {
            color: #FFF
        }
        
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
                /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        }
        /* Add a dark background color with a little bit see-through */
        
        .navbar {
            margin-bottom: 0;
            background-color: #FFBDBD;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }
        /* Add a gray color to all navbar links */
        
        .navbar li a,
        .navbar .navbar-brand {
            color: #000 !important;
        }
        /* On hover, the links will turn white */
        
        .navbar-nav li a:hover {
            color: #fff !important;
        }
        /* The active link */
        
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }
        /* Remove border color from the collapsible button */
        
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }
        /* Dropdown */
        
        .open .dropdown-toggle {
            color: #fff;
            background-color: #FF7D7D !important;
        }
        /* Dropdown links */
        
        .dropdown-menu li a {
            color: #000 !important;
        }
        /* On hover, the dropdown links will turn red */
        
        .dropdown-menu li a:hover {
            background-color: #FF8484 !important;
        }
    </style>

</head>

<body>

    <div class="container-fluid" style="background-color:#F2B3BF">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:3000/dangky"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
            <li><a href="http://localhost:3000/dangnhap"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="5">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:3000/trangchu">TRANG CHỦ</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/cackhoahoc">CÁC KHÓA HỌC
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3000/cackhoahoc/N5">N5</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N4">N4</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N3">N3</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N2">N2</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N1">N1</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">BẢNG CHỮ CÁI
            <span class="caret"></span>
          </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3000/Hiragana">Hiragana</a></li>
                            <li><a href="http://localhost:3000/Katakana">Katakana</a></li>
                        </ul>
                    </li>
                    <li><a href="#tailieu">TÀI LIỆU</a></li>
                    <li class="dropdown">

                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="anh1.jpg" alt="Hoa anh đào">
                <div class="carousel-caption">
                    <h3>Hoa anh đào</h3>
                    <p>Hfsjkahfakfkewakgjkjr.</p>
                </div>
            </div>

            <div class="item">
                <img src="anh2.jpg" alt="Phong cảnh">
                <div class="carousel-caption">
                    <h3>Phong cảnh</h3>
                    <p>Thank you, Hoa anh đào - A night we won't forget.</p>
                </div>
            </div>

            <div class="item">
                <img src="anh3.jpg" alt="Lễ hội">
                <div class="carousel-caption">
                    <h3>Lễ hội</h3>
                    <p>Even though the traffic was a mess, we had the best time.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="container">
        <h3 class="text-center">Liên hệ</h3>
        <p class="text-center"><em>Hãy gửi những lời muốn nói</em></p>
        <div class="row test">
            <div class="col-md-4">
                <p><span class="glyphicon glyphicon-map-marker"></span>Ha Noi, Viet Nam</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: +84 982363777</p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: webtiengnhat@mail.com</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Tên" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Lời nhắn" rows="4"></textarea>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function() {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        })
    </script>


</body>

</html>