<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web học tiếng Nhật - HQH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            scroll-behavior: smooth;
        }
        
        .affix {
            top: 0;
            width: 100%;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
        
        .affix-top {
            position: static;
            top: -35px;
        }
        
        .carousel-inner img {
            width: 50%;
            /* Set width to 100% */
            margin: auto;
        }
        
        .carousel-caption h3 {
            color: #FFF
        }
        
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
                /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        }
        /* Add a dark background color with a little bit see-through */
        
        .navbar {
            margin-bottom: 0;
            background-color: #FFBDBD;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
            transition: 0.5s;
        }
        /* Add a gray color to all navbar links */
        
        .navbar li a,
        .navbar .navbar-brand {
            color: #000 !important;
        }
        /* On hover, the links will turn white */
        
        .navbar-nav li a:hover {
            color: #fff !important;
            transition: 0.5s;
        }
        /* The active link */
        
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }
        /* Remove border color from the collapsible button */
        
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }
        /* Dropdown */
        
        .open .dropdown-toggle {
            color: #fff;
            background-color: #FF7D7D !important;
        }
        /* Dropdown links */
        
        .dropdown-menu li a {
            color: #000 !important;
        }
        /* On hover, the dropdown links will turn red */
        
        .dropdown-menu li a:hover {
            background-color: #FF8484 !important;
        }
        
        .container-fluid .nav {
            margin: 10px;
        }
        
        .intro .title {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        
        .intro .title h2 {
            font-weight: 800;
            color: #d65a5a;
        }
        
        .intro .content {
            padding-left: 10px;
            padding-right: 10px;
            /* background: url('public/bia3.jpg'); */
        }
        
        .intro .content .imgBx {
            width: 800px;
            height: 400px;
            position: relative;
            margin: 20px;
            background: #fff;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
            border-radius: 10%;
        }
        
        .intro .content .imgBx img {
            width: 100%;
            height: 100%;
            padding: 15px;
            object-fit: fill;
            border-radius: 10%;
        }
        
        .intro .content .param p {
            padding-top: 50px;
            font-size: 18px;
        }
        
        .intro .content .title1 h3 {
            background: #fff;
            font-size: 2em;
            font-style: italic;
            font-weight: 400;
            padding-top: 30px;
        }
        
        .intro .content .right .param {
            display: flex;
            flex-direction: row-reverse;
        }
        
        .intro .content .left .param {
            display: flex;
            flex-direction: row;
        }
        
        .intro .content .title1 {
            background: #fff;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
            border-radius: 5%;
            padding: 10px;
            border-radius: 5%;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 30px;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="background-color:#F2B3BF">
        <ul class="nav navbar-nav navbar-right">
            <li>Xin chao!</li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="5">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:3000/trangchu">TRANG CHỦ</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/cackhoahoc">CÁC KHÓA HỌC
                        <span class="caret"></span>
                      </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:3000/cackhoahoc/N5">N5</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N4">N4</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N3">N3</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N2">N2</a></li>
                            <li><a href="http://localhost:3000/cackhoahoc/N1">N1</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">BẢNG CHỮ CÁI
                        <span class="caret"></span>
                      </a>
                        <ul class="dropdown-menu">
                            <li><a href="hiragana.html">Hiragana</a></li>
                            <li><a href="katakana.html">Katakana</a></li>
                        </ul>
                    </li>
                    <li><a href="#tailieu">TÀI LIỆU</a></li>

                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="intro">
        <div class="title">
            <h2>Gioi thieu chung</h2>
        </div>
        <div class="content">
            <div class="right">
                <div class="param">
                    <div class="title1">
                        <h3>Học tiếng Nhật mọi lúc mọi nơi</h3>
                        <p>Bằng việc có tài khoản học tập tại Try Nihongo, bạn đã có thể chủ động thời gian học tập của bản thân mình. Đặc biệt phù hợp với các bạn bận rộn, ít thời gian.</p>
                    </div>
                    <div class="imgBx">
                        <img src="../public/bia4.jpg">
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="param">
                    <div class="title1">
                        <h3>Học tiếng Nhật mọi lúc mọi nơi</h3>
                        <p>Bằng việc có tài khoản học tập tại Try Nihongo, bạn đã có thể chủ động thời gian học tập của bản thân mình. Đặc biệt phù hợp với các bạn bận rộn, ít thời gian.</p>
                    </div>
                    <div class="imgBx">
                        <img src="../public/bia2.jpg">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="param">
                    <div class="title1">
                        <h3>Học tiếng Nhật mọi lúc mọi nơi</h3>
                        <p>Bằng việc có tài khoản học tập tại Try Nihongo, bạn đã có thể chủ động thời gian học tập của bản thân mình. Đặc biệt phù hợp với các bạn bận rộn, ít thời gian.</p>
                    </div>
                    <div class="imgBx">
                        <img src="../public/bia5.jpg">
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="param">
                    <div class="title1">
                        <h3>Học tiếng Nhật mọi lúc mọi nơi</h3>
                        <p>Bằng việc có tài khoản học tập tại Try Nihongo, bạn đã có thể chủ động thời gian học tập của bản thân mình. Đặc biệt phù hợp với các bạn bận rộn, ít thời gian.</p>
                    </div>
                    <div class="imgBx">
                        <img src="../public/bia6.gif">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>